.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    
    color: #818078;
    background-color: #fcfcfa;
  }
}

.custom-separator{
      list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    /* padding: .8em 1em .8em 2em; */
    color: #aab3c3;
}

.form-bank{
  margin-left: 5px;
  margin-bottom: 15px;
}

.form-bk{
  margin-bottom: 5px !important;
}

.main-head{
  font-weight: bold !important;
}
.fw-bold{
  font-weight: bold !important;
}

.ed{
  margin-bottom: 3px; 
  min-width: 14px;
}
.red{
  color: #ff0000;
}


/*================================================== VERTICAL TAB CSS ==================================================*/
/* Style the tab */
.tab {
    float: left;
    width: 20%;
    display: inline-block;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ecf0f1;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 80%;
    border-left: 1px solid #ebedf5;
    display: inline-block;
}

.iatt{
  margin-bottom: 5px;
}

.attddatatxt{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.iblock{
  display: inline-block;
}

.tabledetailch{
  display: inline-block;
  float: right;
  margin-bottom: 15px;
  color: #2980b9;
  font-weight: bold;
}

.tabledetailch td{
  padding: 4px;
}

.w100{
  width: 100%;
}

.reportlist{
    width: 100%;
    padding: 5px 0px 5px 10px;
    font-size: 17px;
    border-bottom: 1px solid #cfcfcf;
}

.tbl-btn{
  min-width: 16px;
  margin: 1px;
}

.rep-title{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.stats-widget .stats-widget-body h6.title {
    margin: 5px 0 0 0;
    font-size: 95%;
    line-height: 130%;
    color: #000000;
}

.stats-widget .stats-widget-body h4.total {
    margin: 0;
    text-align: right;
    color: #007ae1;
    font-size: 18px;
}

.ds-none{
  display: none;
}

.dwexample{
    border: 1px solid #ccc;
    padding: 10px 10px 0px 10px;
}

.href-style{
  color: #3498db;
}

.href-style:hover{
  color: #3498db;
}

.table-responsive{
  overflow-x: auto;
}

.note-1{
  color: red;
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
    border-color: #3498db;
}

.btn-primary {
  background-color: #009047;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #00a752;
  border-color: #ffffff;
  color: #ffffff; 
}
.btn-primary:focus {
  box-shadow: 0 0 0 3px #95ceff; 
}

.btn-success {
  background-color: #32ba7c;
  border-color: #32ba7c; 
}

.side-nav .unifyMenu > li.selected > a {
    color: #ffffff;
    background: #009047;
}

.main-heading .page-icon i {
    font-size: 24px;
    color: #009047;
    margin: 9px 6px 9px 0;
    display: block;
}

a.mini-nav-btn i {
    font-size: 24px;
    vertical-align: middle;
    color: #009047;
}

.nav-title{
  max-width: 150px;
}

.side-nav .unifyMenu > li.selected .current-page {
    color: #009047;
    pointer-events: none;
}